# Expo
.expo/
expo-cache/
.env
.env.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Production
/build
dist/

# Logs
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# System files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo